<div class="sidebar">
<div class="nav-links">
  <a *ngFor="let item of navItems" 
     [routerLink]="item.path" 
     routerLinkActive="active" 
     class="nav-item">
    <span class="material-icons-outlined">{{ item.icon }}</span>
    {{ item.name }}
  </a>
</div>

  <div style="flex: 1;"></div>

  <div class="profile-section" (click)="toggleLogout()">
    <div class="profile-content">
      <div class="avatar">MM</div>
      <div class="user-details">
        <span class="user-name">Max Mustermann</span>
      </div>
      <span class="material-icons-outlined more-icon">more_vert</span>
    </div>

    <div class="logout-menu" *ngIf="showLogout">
        <button (click)="logout()">Abmelden</button>
    </div>
  </div>
</div>
